@font-face {
  font-family: firacode;
  src: url("firacode.eot");
  src: local("firacode"),
    url("../fonts/FiraCode/FiraCode-Regular.woff") format("woff"),
    url("../fonts/FiraCode/FiraCode-Regular.ttf") format("truetype");
}
